 body {
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
body {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}
.event-calendar td {
    border: 1px solid #658017;
    text-align: right;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 100px;
}
